$success: green;

.btn-success {
  color: $secondary;
  font-weight: normal;
  background: $success;
  &[href] {
    color: $secondary;
  }
  &:hover, &.btn-hover {
    background: scale-color($success, $lightness: -20%);
  }
  &:active, &.btn-active {
    @include linear-gradient(scale-color($success, $lightness: -20%), $success);
  }
  &[disabled], &.disabled {
    background: $success;
  }
}

.solvedqueue {
  .read-state, .post-menu-area {
    display: none !important;
  }
}

.mobile-view #topic-footer-buttons {
  .btn[disabled], .btn.disabled {
    &:hover, &:visited, &:active, &:focus {
      color: unset !important;
    }
  }
}